/******************************
        CSS GLOBAL
******************************/
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Creepster&family=Great+Vibes&family=Indie+Flower&family=Luckiest+Guy&family=Rubik+Distressed&family=Syne+Mono&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=Babylonica&family=Bangers&family=Creepster&family=Great+Vibes&family=Indie+Flower&family=Julee&family=Luckiest+Guy&family=Patrick+Hand&family=Playball&family=Rubik+Distressed&family=Sacramento&family=Syne+Mono&family=Tangerine:wght@400;700&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
  text-align: center; */
  /* background-color: black;
  color: whitesmoke;  */
 /*  font-family: 'Julee', cursive;
}
 
h1, .btn  { */
/*   font-size: 3.2em;
  line-height: 1.1; */
  /* font-family: 'Bangers', cursive;
}
 h2, h3{
  font-family: 'Amatic SC', cursive;
 }
ul img {
  height: 48px;
}

.icon {
  height: 48px;
}
 */
/***************************************
  # on hover 
****************************************/

/* 
header div h1 img {
  height: 720px;
}

.title::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(20, 201, 214);
  display: inline-block;
  transform: rotate(45deg); 
  margin-right: 15px;
}
.title::after {
  content : "Accès difficile multi services";
} */
/******************************
        CLASSES GLOBALES
******************************/
/* .btn {
  background-color: rgb(228, 6, 6);
  padding: 10px;
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);

}
.btn:hover {
  background-color: rgb(163, 30, 30);
} */

/* .btn-contact {
  background-color: black;
  border-radius: 20%;
  color: white;
} */

/* .container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
} */

/******************************
        STYLE PAR SECTION
******************************/
/* header {
  background-image:  */
  /* linear-gradient(
      to right,
      rgba(4, 7, 11, 0.189) 95%,
      rgba(0, 0, 0, 0.075) 5%
    ),  */
 /*    url(../img/adms/title-adms.svg); */
  /*  background-image: linear-gradient(
      to right,
      rgba(4, 7, 11, 0.189) 95%,
      rgba(0, 0, 0, 0.075) 5%
    ),
    url(../img/adms/6.svg);
   background-image: linear-gradient(
      to top,
      rgba(13, 69, 99, 0.743),
      rgba(117, 126, 36, 0.911)
    ),
    url(../img/icons/img.jpg); */
 /*   url(../img/icons/asset\ 4.jpeg); 
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  */ 
/*   background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;  
  color: rgb(4, 4, 31);
  padding: 20px; */
/*   z-index: auto; */
/* }
header nav div {
  display: flex;
  align-items: center;
  justify-content: space-between; */
  /* background-color: rgba(0, 0, 0, 0.936); */
/*   color: black;
  z-index: 2000;
}
header nav #burger {
  display: none;
} */
/* header nav img {
  height: 120px;
} */
/* header nav ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
} */
/* header nav ul li {
  margin-left: 20px;
  text-transform: uppercase;
} */
/* a::before {
  background: hsla(0, 0%, 0%, 0.472);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1; 
} */

/* a {
  color: #000;
  position: relative;
  text-decoration: none;
} */

/* a:hover::before {
  transform: scaleX(1);
  transform-origin: left; 
}

header div {
  text-align: center;
  margin: 5px 0 250px;
}
header h1 {
  font-size: 160px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 6px;
} */
/* header h2 {
    font-size: 80px;
}
header h3 {
    font-size: 60px;
} */
/* header nav {
  padding-top: 2px;
} */
/****************************************************************************************************
********************************  GSAP Animation on NavBar links  ***********************************
********************************                                  ***********************************
****************************************************************************************************/
/* .menu {
  font-size: 20px;
  color: #000000;
  opacity: 0.7;
  list-style: none;
  // setting up flexbox for menu
  display: flex;
  justify-content: flex-end;

  &-item {
    margin: 47px 45px;
    position: relative;
  }
  @media (max-width: 860px) {
    display: none;
  }
}

// setting up line animation for menu items. 
.menu-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #6a4a39;
  position: absolute;
  visibility: hidden;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s ease-out;
}

.menu-item:hover::after {
  visibility: visible;
  transform: scale(1);
}

.menu-item:last-of-type {
  color: #ff7676;
  border-bottom: 4px solid #f8d1be;
} */

/* main {
  background-image: 
  linear-gradient(
      to right,
      rgba(40, 82, 124, 0.189) 95%,
      rgba(0, 0, 0, 0.075) 5%
    ), 
    url(../img/adms/6.svg);
   background-size: cover;
  background-position: center 55%; 
  background-size: contain;
  background-repeat: no-repeat; 
} */

/* .top {
  height: 48px;
  padding-top: 15px;
  position: sticky;
  top: 20px;
} */

/* main #nacel {
  background-image: 
    linear-gradient(
      to right,
      rgba(40, 82, 124, 0.5) 55%,
      black 45%
    ),
    url(../img/icons/Nettoyage-extérieur.jpg);
  background-size: cover;
  background-position: center 35%;
  color: white;
  padding: 50px 0 80px;
}
main #nacel div {
  display: flex;
  justify-content: flex-end;
} */
/* main #nacel article {
  width: 40%;
}
main #nacel article h2 {
  margin-left: -80px;
}
main #nacel article p {
  margin-bottom: 40px;
} */
/* main #nacel { */
/*   background-image: linear-gradient(
      to right,
      rgba(40, 82, 124, 0.5) 55%,
      black 45%
    ),
    url(../img/icons/Nettoyage-extérieur.jpg); */
/*   background-size: cover;
  background-position: center 35%;
  color: white;
  padding: 50px 0 80px;
} */
/* main #nacel div {
  display: flex;
  justify-content: flex-end;
}
main #nacel article {
  width: 40%;
}
main #nacel article h2 {
  margin-left: -80px;
}
main #nacel article p {
  margin-bottom: 40px;
} 

main #batiment {*/
/*   background-image: linear-gradient(
      to right,
      rgba(40, 82, 124, 0.189) 100%,
      rgba(0, 0, 0, 0.075) 0%
    ),
    url(../img/icons/Building.jpg); */
/*   background-size: cover;*/
/*   background-position: center 55%; 
  background-size: contain;
  background-repeat: no-repeat;
  color: rgb(46, 4, 6);
  padding: 15px 0 80px;
}
main #batiment div {
  display: flex;
  justify-content: flex-end;
}
main #batiment article {
  width: 40%;
}
main #batiment article h2 {
  margin-left: -20px;
}
main #batiment article p {
  margin-bottom: 40px;
} */

/* main #objectives {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Julee', cursive;
}
main #objectives div {
  margin: 80px auto;
}
main #objectives p {
  font-family: 'Bangers', cursive; 
}
main #objectives h2 {
  font-family: 'Bangers', cursive; 
}
main #objectives h3 {
  font-family: 'Bangers', cursive; 
}
main #objectives ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
main #objectives ul li {
  width: 25%;
  border-top: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
  padding: 40px 10px 30px;
  font-family: 'Bangers', cursive; 
}
main #objectives ul li:last-of-type {
  border-right: none;
}
 */
/* main #programs {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
} */
/* main #programs a:first-of-type {
  background-image: 
  linear-gradient(rgba(33, 32, 32, 0.5), rgba(68, 64, 64, 0.5)),
    url(../img/adms/1.png);
}
main #programs a:last-of-type {
  background-image: linear-gradient(
      rgba(135, 89, 15, 0.5),
      rgba(111, 4, 4, 0.5)
    ),
    url(../img/adms/img-dec.svg);
} */
/* main #programs a {
  width: 50%;
  background-size: cover;
  background-position: center;
  padding: 70px 30px;
  text-align: center;
  color: white;
}
main #programs a h2 {
  text-transform: uppercase;
}

main #services {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}
main #services li {
  width: calc(100% / 3);
  padding: 50px;
}
main #services li:nth-of-type(odd) {
  background-color: rgb(89, 94, 103);
  color: rgb(239, 231, 133);
}

main h2 {
  text-align: center;
} */

/* main a {
  position: sticky;
  top: 20px;
  height: 48px;
} */

/* footer {
  background: black;
  border-top: 10px solid rgb(103, 90, 14);
  color: white;
  padding: 20px 0;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer article {
  width: 25%;
  text-align: right;
}
footer article img {
  height: 90px;
}
footer article a {
  margin: 0 5px;
  font-size: 20px;
}

footer form {
  width: 45%;
  background: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}
footer form h2 {
  text-transform: uppercase;
}

footer form input:not([type="submit"]) {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}
footer form ::placeholder {
  color: black;
  font-size: 13px;
}
footer form input[type="submit"] {
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

footer ul {
  width: 25%;
}

footer ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer ul li img {
  color: rgb(124, 40, 99);
  margin-right: 15px;
}
footer ul li h3 {
  text-transform: uppercase;
  font-size: 13px;
} */


/**************************
    GSAP parallax fx
***************************/
/* a {
  color: #555;
  font-weight: 400;
}

.pSection {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}

.cont {
  padding: 20px;
  margin: 0 auto; */


  /* max-width: 1070px; */


/*   position: relative;
  z-index: 1;
} */

/* .pContent {
  width: 65%;
  background-color: rgba(21, 3, 3, 0.8);
  color: white;
  padding: 40px 60px;
} */

/* .pImage {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 900px;
}
 */
/* .small {
  font: italic 13px;   
  font-family: 'Amatic SC', cursive;

}
.heavy {
  font: bold 30px sans-serif;
}

.Rrrrr {

    font: bold 40px 'Amatic SC', cursive;

  fill: rgb(65, 162, 241);
} */

/******************************
        RESPONSIVE
******************************/
/* 
@media (min-width: 768px) and (max-width: 990px) {
  main #services li:nth-of-type(odd) {
    background-color: white;
  }
  main #services li {
    width: 50%;
  }
  main #services li:nth-of-type(2),
  main #services li:nth-of-type(3),
  main #services li:nth-of-type(6) {
    background-color: rgb(235, 235, 235);
  }
} */

/* @media (max-width: 767px) {
  .container {
    width: 90%;
  } */

  /*********** menu mobile**********/
 /*  header {
    background-image: url(../img/adms/title-adms.svg);
  } */
/*   header nav {
    background: rgb(158, 3, 3);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 20px;    
    z-index: 4000;
  } */
 /*  header nav ul {
    height: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    background: rgba(151, 5, 5, 0.579);
    padding: 10px;
  }
  header nav ul li {
    width: 100%;
    padding: 20px;
    margin-left: 0;
    text-transform: uppercase;
    text-align: center;
  } */

/*   header nav #burger {
    display: block;
    appearance: none; */
    /* font-family: "Font Awesome 5 Free"; */
/*     font-weight: 900;
    color: white;
    font-size: 30px;
    cursor: pointer;
  } */
/*   header nav #burger::before {
    content: "\f0c9";
  }
  header nav #burger:checked::before {
    content: "\f00d";
  }
  header nav #burger:checked + ul {
    height: auto;
  }
  header div {
    margin: 5px 0 20px;

  } */

  /*********************************/
/* .top {
  height: 48px;
  padding-top: 15px;
  position: sticky;
  top: 200px;
  margin-left: -90%;
}

  main #nacel {
    background: black;
    padding: 80px;
  }
  main #nacel article {
    width: 100%;
  }
  main #nacel article h2 {
    margin-left: 0;
  }

  main #objectives ul li {
    width: 50%;
  }

  main #programs a {
    width: 100%;
  }

  main #services li {
    width: 100%;
  }

  footer > div > * {
    width: 100%;
  }

  footer article {
    margin: 50px 0;
    text-align: center;
  }

  footer form {
    order: -1;
  }
}

 */





/*******************************************************************
********************************************************************
********************************************************************
********************************************************************
********************************************************************
********************************************************************
********************************************************************
********************************************************************
********************************************************************
********************************************************************
*/
/******************************
        CSS GLOBAL
******************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Creepster&family=Great+Vibes&family=Indie+Flower&family=Luckiest+Guy&family=Rubik+Distressed&family=Syne+Mono&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=Babylonica&family=Bangers&family=Creepster&family=Great+Vibes&family=Indie+Flower&family=Julee&family=Luckiest+Guy&family=Patrick+Hand&family=Playball&family=Rubik+Distressed&family=Sacramento&family=Syne+Mono&family=Tangerine:wght@400;700&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
  text-align: center;
  /* background-color: black;
  color: whitesmoke;  */
  font-family: 'Julee', cursive;
}
 
h1, .btn  {
/*   font-size: 3.2em;
  line-height: 1.1; */
  font-family: 'Bangers', cursive;
}
 h2, h3{
  font-family: 'Amatic SC', cursive;
 }
ul img {
  height: 48px;
}

.icon {
  height: 48px;
}

.nav-schema {
  /* height: 246px; */
  margin-left: 20px;
}
/* 
header div h1 img {
  height: 720px;
}

.title::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(20, 201, 214);
  display: inline-block;
  transform: rotate(45deg); 
  margin-right: 15px;
}
.title::after {
  content : "Accès difficile multi services";
} */
/******************************
        CLASSES GLOBALES
******************************/
.btn {
  background-color: rgb(228, 6, 6);
  padding: 10px;
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);

}
.btn:hover {
  background-color: rgb(163, 30, 30);
}

/* .btn-contact {
  background-color: black;
  border-radius: 20%;
  color: white;
} */
.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      
      rgba(14, 14, 14, 0.896),
      rgb(255, 254, 254) 
    ),
    url(../img/adms/6.svg);
  background-position: top center;
  background-repeat: no-repeat;
  
}
.container2 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
/*   background-image: linear-gradient(
      
      rgba(14, 14, 14, 0.896),
      rgb(255, 254, 254) 
    ),
    url(../img/adms/6.svg);
  background-position: top center;
  background-repeat: no-repeat; */
  
}
.container3 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      
      rgba(71, 71, 71, 0.896),
      rgb(149, 149, 149) 
    ),
    url(../img/adms/6.svg);
  background-position: top center;
  background-repeat: no-repeat;
  
}
 
/******************************
        STYLE PAR SECTION
******************************/
header {
  background-image: 
/* linear-gradient(
      to right,
      rgba(4, 7, 11, 0.189) 95%,
      rgba(0, 0, 0, 0.075) 5%
    ),  */ 
    url(../img/adms/fly-title--test.svg); 
 /*   url(../img/icons/asset\ 4.jpeg); 
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  */ 
  background-size: contain;
  background-repeat: no-repeat;
  background-position:  top 150px center; 
  color: rgb(4, 4, 31);
  padding: 20px 20px 150px 20px;
  z-index: auto;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: black;
  z-index: 2000;

/*   background-image: url(../img/adms/fly-draw&.svg);
    background-size: contain;
  background-repeat: no-repeat;
  background-position: right;  */
}
header nav #burger {
  display: none;
}
header nav img {
  height: 120px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}
header div {
  text-align: center;
  margin: 50px 0 250px;
}
header h1 {
  font-size: 160px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 6px;
}
header h2 {
    font-size: 80px;
}
header h3 {
    font-size: 60px;
}
/****************************************************************************************************
********************************  GSAP Animation on NavBar links  ***********************************
********************************                                  ***********************************
****************************************************************************************************/
/* .menu {
  font-size: 20px;
  color: #000000;
  opacity: 0.7;
  list-style: none;
  // setting up flexbox for menu
  display: flex;
  justify-content: flex-end;

  &-item {
    margin: 47px 45px;
    position: relative;
  }
  @media (max-width: 860px) {
    display: none;
  }
}

// setting up line animation for menu items. 
.menu-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #6a4a39;
  position: absolute;
  visibility: hidden;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s ease-out;
}

.menu-item:hover::after {
  visibility: visible;
  transform: scale(1);
}

.menu-item:last-of-type {
  color: #ff7676;
  border-bottom: 4px solid #f8d1be;
} */

main {
 /*  background-image: 
  linear-gradient(
      to right,
      rgba(40, 82, 124, 0.189),
      rgba(0, 0, 0, 0.075)
    ),  
    url(../img/adms/6.svg);*/
  /*  background-size: cover;
  background-position: top center; 
  background-size: contain;
  background-repeat: no-repeat;*/
  
}

.top {
  height: 48px;
  padding-top: 15px;
  position: sticky;
  top: 20px;
}

main #intervention {}
main #intervention .place-tagline {
  background-image: url(../img/news/map-clr.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
main #intervention .time-tagline {
  background-image: url(../img/news/time-logo-ss-fond.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
/* main #nacel {
  background-image: 
    linear-gradient(
      to right,
      rgba(40, 82, 124, 0.5) 55%,
      black 45%
    ),
    url(../img/icons/Nettoyage-extérieur.jpg);
  background-size: cover;
  background-position: center 35%;
  color: white;
  padding: 50px 0 80px;
} */
main #nacel div {
  display: flex;
  justify-content: flex-end;
}
main #nacel article {
  width: 40%;
}
main #nacel article h2 {
  margin-left: -80px;
}
main #nacel article p {
  margin-bottom: 40px;
}
main #nacel {
   background-image: linear-gradient(
      to right,
      rgba(40, 82, 124, 0.5) 55%,
      black 45%
    ),
    url(../img/adms/fly-to-flag-mini.svg);
  background-size: cover;
  background-position: center 35%;
  color: white;
  padding: 50px 0 80px;
}
main #nacel div {
  display: flex;
  justify-content: flex-end;
}
main #nacel article {
  width: 40%;
}
main #nacel article h2 {
  margin-left: -80px;
}
main #nacel article p {
  margin-bottom: 40px;
}

main #batiment {
  background-image: 
    url(../img/news/map-clr.svg);
/*   background-size: cover;*/
  background-position: center 55%; 
  background-size: contain;
  background-repeat: no-repeat;
  color: rgb(46, 4, 6);
  padding: 300px 0 80px;
}
main #batiment div {
  display: flex;
  justify-content: flex-end;
}
main #batiment article {
  width: 40%;
}
main #batiment article h2 {
  margin-left: -20px;
}
main #batiment article p {
  margin-bottom: 40px;
}

main #objectives {
  text-align: center;
  text-transform: uppercase;
  /* 
  
  font-family: 'Amatic SC', cursive;
  */
  font-family: 'Julee', cursive;
}
main #objectives div {
  margin: 80px auto;
}
main #objectives p {
  font-family: 'Bangers', cursive; 
}
main #objectives h2 {
  font-family: 'Bangers', cursive; 
}
main #objectives h3 {
  font-family: 'Bangers', cursive; 
}
main #objectives ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
main #objectives ul li {
  width: 25%;
  border-top: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
  padding: 40px 10px 30px;
  font-family: 'Bangers', cursive; 
}
main #objectives ul li:last-of-type {
  border-right: none;
}

main #programs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
main #programs a:first-of-type {
  /* background-image: url(../img/adms/fly-to-flag-mini.svg); */ 
  background-size: 20rem;
  background-repeat: no-repeat;
  
}
main #programs a:last-of-type {
  color: black;
 /*  background-image: linear-gradient(
      rgba(135, 89, 15, 0.5),
      rgba(111, 4, 4, 0.5)
    ),
    url(../img/adms/fly-soulignement.svg); */
}
main #programs a {
  /* width: 50%; */
  /* change 2 paragraph disposition by * by 2 th width, from cols to raws */
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 70px 30px;
  text-align: center;
  color: white;
}

main #programs a h2 {
  text-transform: uppercase;
}

main #services {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}
main #services li {
  width: calc(100% / 3);
  padding: 50px;
}
main #services li:nth-of-type(odd) {
  background-color: rgb(89, 94, 103);
  color: rgb(239, 231, 133);
}

main #tagline {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

main h2 {
  text-align: center;
}

/* main a {
  position: sticky;
  top: 20px;
  height: 48px;
} */

footer {
  background: black;
  border-top: 10px solid rgb(103, 90, 14);
  color: white;
  padding: 20px 0;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer article {
  width: 25%;
  text-align: right;
}
footer article img {
  height: 90px;
}
footer article a {
  margin: 0 5px;
  font-size: 20px;
}

footer form {
  width: 45%;
  background: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}
footer form h2 {
  text-transform: uppercase;
}

footer form input:not([type="submit"]) {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}
footer form ::placeholder {
  color: black;
  font-size: 13px;
}
footer form input[type="submit"] {
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

footer ul {
  width: 25%;
}

footer ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer ul li img {
  color: rgb(124, 40, 99);
  margin-right: 15px;
}
footer ul li h3 {
  text-transform: uppercase;
  font-size: 13px;
}


/**************************
    GSAP parallax fx
***************************/
a {
  color: #555;
  font-weight: 400;
}

.pSection {
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}

.cont {
  padding: 20px;
  margin: 0 auto;
  /* max-width: 1070px; */
  position: relative;
  z-index: 1;
}

.pContent {
  width: 65%;
  background-color: rgba(21, 3, 3, 0.8);
  color: white;
  padding: 40px 60px;
}

.pImage {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 900px;
}

/* .small {
  font: italic 13px;   
  font-family: 'Amatic SC', cursive;

}
.heavy {
  font: bold 30px sans-serif;
}

.Rrrrr {

    font: bold 40px 'Amatic SC', cursive;

  fill: rgb(65, 162, 241);
} */

/******************************
        RESPONSIVE
******************************/

@media (min-width: 768px) and (max-width: 990px) {
  main #services li:nth-of-type(odd) {
    background-color: white;
  }
  main #services li {
    width: 50%;
  }
  main #services li:nth-of-type(2),
  main #services li:nth-of-type(3),
  main #services li:nth-of-type(6) {
    background-color: rgb(235, 235, 235);
  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  /*********** menu mobile**********/
  header nav {
/*     background: rgb(183, 3, 3);
 */    background: rgba(0, 0, 0, 0.81);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 20px;
    color: white;
  }
  header nav ul {
    height: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
/*     background: rgba(151, 5, 5, 0.3);
 */    padding: 10px;
  }
  header nav ul li {
    width: 100%;
    padding: 20px;
    margin-left: 0;
    text-transform: uppercase;
    text-align: center;
  }

  header nav #burger {
    display: block;
    appearance: none;
    /* font-family: "Font Awesome 5 Free"; */
    font-weight: 900;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  header nav #burger::before {
    content: "\f0c9";
  }
  header nav #burger:checked::before {
    content: "\f00d";
  }
  header nav #burger:checked + ul {
    height: auto;
  }

  /*********************************/
.top {
  height: 48px;
  padding-top: 15px;
  position: sticky;
  top: 200px;
  margin-left: -90%;
}

  main #nacel {
    background: black;
    padding: 80px;
  }
  main #nacel article {
    width: 100%;
  }
  main #nacel article h2 {
    margin-left: 0;
  }

  main #objectives ul li {
    width: 50%;
  }

  main #programs a {
    width: 100%;
  }

  main #services li {
    width: 100%;
  }

  footer > div > * {
    width: 100%;
  }

  footer article {
    margin: 50px 0;
    text-align: center;
  }

  footer form {
    order: -1;
  }
}

